# محیط مجازی
venv/

# فایل‌های کش پایتون
__pycache__/

# دیتابیس محلی
*.sqlite3

# تنظیمات ویرایشگرها
.idea/
.vscode/

# متغیرهای محیطی و رمزها (قسمت ۷)
.env

# فایل‌های Static جمع‌آوری‌شده (با collectstatic ساخته می‌شن)
staticfiles/